QPushButton{
    border-image: url(:/images/share/images/addjob_regular.png);
}
QPushButton:hover{
    border-image: url(:/images/share/images/addjob_hover.png);
}
QPushButton:pressed{
    border-image: url(:/images/share/images/addjob_press.png);
}
