QPushButton{
    border-image: url(:/images/share/images/setmem_regular.png);
}
QPushButton:hover{
    border-image: url(:/images/share/images/setmem_hover.png);
}
QPushButton:pressed{
    border-image: url(:/images/share/images/setmem_press.png);
}
