QPushButton{
    border-image: url(:/images/share/images/reset_regular.png);
}
QPushButton:hover{
    border-image: url(:/images/share/images/reset_hover.png);
}
QPushButton:pressed{
    border-image: url(:/images/share/images/reset_press.png);
}