QPushButton{
    border-image: url(:/images/share/images/work1.png);
}
QPushButton:hover{
    border-image: url(:/images/share/images/work.png);
}
QPushButton:checked{
    border-image: url(:/images/share/images/work-1.png);
}
