QPushButton{
    border-image: url(:/images/share/images/mini1.png);
}
QPushButton:hover{
    border-image: url(:/images/share/images/mini.png);
}
QPushButton:pressed{
    border-image: url(:/images/share/images/mini-1.png);
}
