QPushButton{
        background-color:rgb(255,165,0);
        border-radius:9px;
}
QPushButton:checked{
        background-color:rgb(255,165,0);
        border-style:outset;
        border-width:3px;
        border-color:rgb(30,144,255);
        border-radius:9px;
}